<div class="admin">
    <h1>Setup Quiz</h1>
    <form  class="pure-form pure-form-stacked" ng-submit="submit(user)">
        <select class="pure-input-1" name="collections">
            <option ng-repeat="collection in collections">{{collection.displayName}}</option>
        </select>
        <select class="pure-input-1" name="groups">
            <option ng-repeat="group in groups" value="{{group.gid}}">{{group.displayName}}</option>
        </select>
        <input type="submit"  class="pure-button pure-button-primary pure-input-1"  value="Start Quiz" />
    </form>
    <p class="logout"><a href="" ng-click="logout()">Logout</a></p>
</div>