<div class="user" ng-show="!question">
    <h1>Please wait</h1>
    <p>Your question will appear soon</p>
</div>
<div class="user-question" ng-show="question">
    <strong>{{question.qsid}}. {{question.question}}</strong>
    <form class="pure-form pure-form-stacked" ng-submit="answer(selected.choice)">
        <label ng-class="{ 'correct-answer': $index == correctAnswerIndex }" ng-repeat="choice in question.choices" for="choice-{{$index+1}}" class="pure-radio">
            <input ng-disabled="lockForm" id="choice-{{$index+1}}" type="radio" ng-model="selected.choice" name="choices" value="{{choice}}">
            {{$index+1}}. {{choice}}
        </label>
        <input ng-disabled="lockForm || !selected.choice" type="submit" class="pure-button pure-button-primary pure-input-1" value="Answer" />
    </form>
    <div ng-show="error" class="error">{{error}}</div>
</div>
<div class="logout"><a href="" ng-click="logout()">Logout</a></div>