.login {
  padding: 5% 1em 1em;
  margin: 0 auto;
  max-width: 360px;
}

.admin {
  padding: 5% 1em 1em;
  margin: 0 auto;
  max-width: 360px;
}

.admin-quiz {
  padding: 5% 1em 1em;
  margin: 0 auto;
  max-width: 720px;
}

.admin-control {
  margin-bottom: 1em;
}

.admin-question {
  padding-left: 1em;
  font-size: 1.5em;
}

.user {
  padding: 5% 1em 1em;
  margin: 0 auto;
  max-width: 640px;
}

.user-question {
  padding: 5% 1em 1em;
  margin: 0 auto;
  max-width: 640px;
  font-size: 1.5em;
}

.logout {
  text-align: center;
  margin-top: 3em;
}

.error {
  padding: 1em;
  background-color: red;
  color: white;
  margin: 1em 0;
}

/* Override purecss */
.pure-form select {
    height: 2.5em;
}