.login {
  padding: 5% 1em 1em;
  margin: 0 auto;
  max-width: 360px;
}

.admin {
  padding: 5% 1em 1em;
  margin: 0 auto;
  max-width: 360px;
}

.admin-quiz {
  padding: 5% 1em 1em;
  margin: 0 auto;
  max-width: 720px;
}

.admin-control {
  margin: 1em auto 1em 1em;
}

.admin-question {
  font-size: 1.5em;
}

.answer-list {
  margin-left: 1em;
  background-color: #ddd;
  min-height: 150px;
  max-height: 250px;
  overflow-y: scroll;
}

.score-board {
  margin-top: 1em;
  overflow-x: auto;
}

.user {
  padding: 5% 1em 1em;
  margin: 0 auto;
  max-width: 640px;
}

.user-question {
  padding: 5% 1em 1em;
  margin: 0 auto;
  max-width: 640px;
  font-size: 1.5em;
}

.logout {
  text-align: center;
  margin-top: 3em;
}

.error, .success {
  padding: 1em;
  color: white;
  margin: 1em 0;
}

.error {
  background-color: red;
}

.success {
  background-color: green;
}

.correct-answer {
  border: 3px solid green;
  border-radius: 0.5em;
  padding: 0.5em;
}

.badge {
  display: inline-block;
  padding: 0.2em;
  min-width: 1.2em;
  font-size: 0.8rem;
  text-align: center;
  border-radius: 50%;
  background: #999;
  color: #fefefe;
}

.badge.correct {
  background: green;
}

/* Override purecss */
.pure-form select {
  height: 2.5em;
}

.pure-button-success {
	color: white;
  background: rgb(28, 184, 65); /* this is a green */
}