.login {
  padding: 5% 1em 1em;
  margin: 0 auto;
  max-width: 360px;
}

.admin {
  padding: 5% 1em 1em;
  margin: 0 auto;
  max-width: 360px;
}

.error {
  padding: 1em;
  background-color: red;
  color: white;
  margin: 1em 0;
}
